body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Remove left padding for CardHeader */
.custom-card .MuiCardHeader-root {
  padding-left: 0 !important;
}

/* Remove left padding for CardContent */
.custom-card .MuiCardContent-root {
  padding-left: 0 !important;
}

/* Adjust TopicBar component if needed */
.custom-card .topic {
  padding-left: 0 !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  height: 100vh; /* Use viewport height for full screen */
  width: 100%;
}

.main-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100vh; /* Ensure full height usage */
}

.posts {
  flex: 3;
  padding-left: 20px;
  overflow: auto;
}

/* Hide scrollbar for WebKit browsers */
.posts::-webkit-scrollbar {
  width: 0; /* Hides the scrollbar */
  background: transparent; /* Ensure the background is transparent */
}

.posts::-webkit-scrollbar-thumb {
  background: transparent; /* Ensure the scrollbar thumb is transparent */
}

.sidebar {
  flex: 2;
  padding-left: 20px;
  height: 100%; /* Ensure sidebar takes full height */
  display: flex;
  flex-direction: column;
}

.custom-card {
  width: 100%;
  max-width: 600px;
  margin-bottom: 10px;
  background-color: #fff !important;
  border-radius: 10px !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
  transition: transform 0.2s;
}

.custom-card:hover {
  transform: translateY(-5px);
}

.card-icons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

/* Hide scrollbar for Firefox */
.posts {
  scrollbar-width: none; /* Hides the scrollbar */
  -ms-overflow-style: none; /* Hides the scrollbar for IE and Edge */
}

.posts::-webkit-scrollbar {
  display: none; /* Hides the scrollbar for WebKit browsers */
}
