.card-icons {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
}

.icon {
    margin-right: 0px;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon.clickable:hover {
    transform: scale(1.1);
}

.icon.liked {
    color: red;
}
