/* src/navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #76885B;
  padding: 0 20px;
  color: white;
  height: 60px;
  border-bottom: solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-left {
  flex: 1;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(16, 15, 15);
  text-decoration: none;
}

.navbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

.navbar-center a {
  color: rgb(9, 9, 9);
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-center a:hover {
  color: #DDDDDD;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 15px; /* Increased gap for better spacing */
}
