.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #57693f; /* Darker green to complement the forum background */
  padding: 0 20px;
  color: white;
  height: 60px;
  border-bottom: solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-left {
  flex: 1;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF; /* White for better contrast */
  text-decoration: none;
}

.navbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

.navbar-center a {
  color: #FFFFFF; /* White for better contrast */
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-center a:hover {
  color: #DDDDDD; /* Light gray for hover effect */
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
